<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>대처요령</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<!--    &lt;!&ndash; Vendor CSS Files &ndash;&gt;-->
<!--    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">-->
<!--    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">-->
<!--    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">-->
<!--    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">-->


    <!-- Template Main CSS File -->
    <link th:href="@{/../assets/css/main.css}"
          href="/../static/assets/css/main.css" rel="stylesheet">
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <h1>Lost<span>.</span>Finder</h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="report.html">습득신고</a></li>
                <li><a href="bulletinboard.html">게시판</a></li>
                <li><a th:href="@{./goodtip}" href="tip/goodtip">대처요령</a></li>
                <li><a href="mypage.html">나의정보</a></li>
            </ul>
        </nav><!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">

        <nav>
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>대처요령</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4 posts-list">

                <div class="col-xl-4 col-md-6" th:each="tip: ${tipList}" >
                    <article>

                        <div class="post-img">
                            <img src="/../static/assets/img/blog/lostplaceIsBus.png" alt="이미지 없음" class="img-fluid">
                        </div>

                        <p class="post-category">대처요령</p>

                        <h2 class="title">
                            <a href="blog-details.html" th:text="${tip.title}">버스에서 물건을 잃어버렸을 때 대처방법</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <img src="/../static/assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author-list" th:text="${tip.writer}">관리자</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Nov 11, 2022</time>
                                </p>
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->


            </div><!-- End blog posts list -->

            <div class="blog-pagination">
                <ul class="justify-content-center">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div><!-- End blog pagination -->

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->

<!--&lt;!&ndash; Vendor JS Files &ndash;&gt;-->
<!--<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="../assets/vendor/aos/aos.js"></script>-->
<!--<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>-->
<!--<script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>-->
<!--<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>-->

<!-- Template Main JS File -->
<script th:src="@{/../assets/js/main.js}"
        src="/../static/assets/js/main.js"></script>
</body>
</html>